<div class="container" style="padding-top: 80px">
<h1>Challengeyourself#deposit</h1>
<!-- <p>Find me in app/views/challengeyourself/deposit.html.erb</p> -->

<%= simple_form_for(@inputdeposit) do |f| %>
  <%= f.input :amount %>
  <%= f.button :submit %>
<% end %>


</div>
