<div class="container" style="padding-top: 80px">
<h1>Bets#index</h1>
<!-- <p>Find me in app/views/users/:user_id/bets.html.erb</p> -->

  <% if @pendingbets.length == 0 %>

  <p>You have no pending challenges</p>

  <% else %>

    <h5>Your pending challenges:</h5>

    <ul>
      <% @pendingbets.each do |b| %>
        <li>Bet ID <%= b.id %> - Amount : <%= b.amount %>
         <% if Date.today > b.date + 7 %>
  - Check the result
         <% else %>
   - Results available on <%= b.date + 7 %>
         <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Previous page", bets_home_path %>

  <% end %>



</div>
