<div class="lo--footer">

  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-binoculars"></i>
    </div>

    <h4 class="lo--footer-text">
      <%= link_to "Summary", root_path %>
    </h4>
  </div>


  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-chart-pie"></i>
    </div>

    <h4 class="lo--footer-text">
      <%= link_to "Evolution", graphs_home_path %>
    </h4>
  </div>

  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-exclamation-triangle"></i>
    </div>

    <h4 class="lo--footer-text">
      <%= link_to "Horrible Facts", horrible_facts_path %>
    </h4>
  </div>


  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-user-alt"></i>
    </div>

    <h4 class="lo--footer-text">
      <%= link_to "Account", pages_menu_path %>
    </h4>

  </div>

</div>
