<div class="lo--navbar">

  <div class="content">
<!--     <div>
      <a href="#menu" id="toggle"><span></span></a>
      <div id="menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div> -->
    <img class="navbar-avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="">
    <h1 class="title"><%= @navbar_title ? @navbar_title : "last one"  %></h1>
    <img class="navbar-avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="">
  </div>

</div>
