<div class="lo--landing-page">
  <%= image_tag "last_one.jpg", alt: "logo last one", class: "lo--landing-logo" %>

  <div class="lo--landing-container">

   <div class="lo--landing-content">
      <h1>Find the real Last One</h1>
      <!--<p class="lo--landing-text">Find the real Last One</p>-->
      <%= link_to "Quit already", root_path, class: "lo--button-white-l" %>
    </div>

  </div>



</div>

