<div class="lo--landing-page">
  <%= image_tag "last_one.jpg", alt: "logo last one", class: "lo--landing-logo" %>

  <div class="lo--landing-container">

   <div class="lo--landing-content">
      <h1>title</h1>
      <p class="lo--landing-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, asperiores nisi ratione soluta, blanditiis expedita aperiam. Quas, magnam earum architecto sit maiores fuga expedita, harum doloribus quasi. Consequuntur, aut, provident.</p>
      <%= link_to "quit already", root_path, class: "lo--button-white" %>
    </div>

  </div>



</div>

