<div class="style-main">
   <img class="style-main" style="" src="https://res.cloudinary.com/dim7avfq3/image/upload/v1575586085/ast_one_vckr2i.jpg" alt="">
</div>

<div class="background">
 <p class="background">hello</p>
</div>












