<h1>page to handle all components</h1>


<a href="#" class="lo--button-white">submit</a>

<a href="#" class="lo--button-mauve">submit</a>

<div class="lo--button-circle">
  <a href="#">+</a>
</div>


<br>


<div class="lo--navbar">

  <div class="content">
    <h1 class="title">test text</h1>
    <img class="navbar-avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="">
  </div>

</div>

<br>

<br>


<div class="lo--footer">

  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-binoculars"></i>
    </div>

    <h4 class="lo--footer-text">
      Summary
    </h4>
  </div>


  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-chart-pie"></i>
    </div>

    <h4 class="lo--footer-text">
      Evolution
    </h4>
  </div>

  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-exclamation-triangle"></i>
    </div>

    <h4 class="lo--footer-text">
      Horrible Facts
    </h4>
  </div>


  <div class="lo--footer-content">
    <div class="lo--footer-icon">
      <i class="fas fa-user-alt"></i>
    </div>

    <h4 class="lo--footer-text">
      Accounts
    </h4>
  </div>

</div>


<div class="lo--friends-content">
  <img class="lo--friends-avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="">

  <h3 class="lo--friends-text">
    Benjamin
  </h3>

  <div class="lo--friends-icon">
    <i class="far fa-check-square"></i>
  </div>

</div>
<div class="lo--circle-main">
  <div class="lo--circle">
    <h2 class="lo--circle-text">
      10
    </h2>
  </div>
</div>

<br>
<br>
<br>
<br>


<div class="lo--account">
  <div class="lo--account-content">
    <div class="lo--account-icon">
      <i class="far fa-edit"></i>
    </div>
    <h4 class="lo--account-text">
      Edit my account
    </h4>

  </div>

  <div class="lo--account-content">
    <div class="lo--account-icon">
      <i class="fas fa-trophy"></i>
    </div>
    <h4 class="lo--account-text">
      Challenge yourself
    </h4>

  </div>

  <div class="lo--account-content">
    <div class="lo--account-icon">
      <i class="fas fa-users"></i>
    </div>
    <h4 class="lo--account-text">
      Challenge your friends
    </h4>

  </div>

  <div class="lo--account-content">
    <div class="lo--account-icon">
      <i class="far fa-bell"></i>
    </div>
    <h4 class="lo--account-text">
      Notifications frequency
    </h4>

  </div>

  <div class="lo--account-content">
    <div class="lo--account-icon">
      <i class="fas fa-sign-out-alt"></i>
    </div>
    <h4 class="lo--account-text">
      Log out
    </h4>

  </div>
</div>
















