<h1>HorribleFacts#index</h1>


<% @horrible_facts.each do |hf| %>
<ul>
  <li>
        <%= link_to "#{hf.fact}", horrible_fact_path(hf.id), class:"btn-flat4" %>
  </li>
</ul>

<% end %>
<%= link_to "Previous page", root_path, class:"btn-flat3" %>