<div class="lo--main-container">




  <div class="hf-index" id="random_fact">
      <h2><%= link_to "Display horribles facts RANDOMLY", random_path, class:"page-mylink" %></h2>
  </div>

<% @horrible_facts.each do |hf| %>
<div class="hf-index">
    <h2><%= link_to hf.fact, horrible_fact_path(hf.id), class:"page-mylink" %></h2>
</div>
<% end %>



</div>



