<div class="lo--main-container">

  <% @horrible_facts.each do |hf| %>
    <div class="hf-index">
      <h2><%= link_to hf.fact, horrible_fact_path(hf.id), class:"page-mylink" %></h2>
    </div>
  <% end %>



</div>



