<h1>Horrible Facts</h1>

<% @horrible_facts.each do |hf| %>

<div class="main-div-hf">

  <div class="card-fact">
    <p><%=hf.fact%></p>
  </div>

  <div class="card-photo">
   <img src=<%= hf.photo %>>
  </div>

  <div class="page-bottom">
    <p><%= link_to "NEXT", random_path, class:"page-mylink" %></p>
    <p><%= link_to "Previous page", horrible_facts_path, class:"page-mylink" %></p>
  </div>

</div

<% end %>







