<!-- <h1>HorribleFact#scareuser</h1>
<p><find me in app/views/horrible_fact_mailer/scareuser.html.erb</p>
test it here : http://localhost:3000/rails/mailers/horrible_fact_mailer/scareuser
-->


<p>Hi <%= @user.email %>,</p>

<h1>STOP SMOKING FUCKING RIGHT NOW OR YOU'LL DIE</h1>

<p><%= @horriblefacttext %></p>
<br>
<img src="<%= @horriblefactphoto %>" alt="">

