<!-- <h1>HorribleFact#scareuser</h1>
<p><find me in app/views/horrible_fact_mailer/scareuser.html.erb</p>
test it here : http://localhost:3000/rails/mailers/horrible_fact_mailer/scareuser
-->

<div class="container">

<p>Hi <%= @user.email %>,</p>

<h1>STOP SMOKING OR THIS WILL HAPPEN TO YOU</h1>

<p><%= @horriblefacttext %></p>
<br>

<!-- href must be modified before pushing to heroku !!! -->
<a href="http://localhost:3000/"><img src="<%= @horriblefactphoto %>" alt=""></a>

</div>
