<!-- <h1>HorribleFact#scareuser</h1>
<p><find me in app/views/horrible_fact_mailer/scareuser.html.erb</p>
test it here : http://localhost:3000/rails/mailers/horrible_fact_mailer/scareuser
-->




<div class="loo-scareuser-main">
  <div class="loo-scareuser-container">
    <div class="loo-scareuser-up">
      <p>Hi <%= @user.email %>,</p>
      <h1>STOP SMOKING OR THIS WILL HAPPEN TO YOU</h1>
    </div>
    <div class="loo-scareuser-fact">
      <p><%= @horriblefacttext %></p>
      <img class="scareuser-img" style="width: 340px; " src="<%= @horriblefactphoto %>" alt="">
    </div>

    <a href="http://localhost:3000/"><p>How many cigarettes did you smoke today?</p></a>

  </div>
</div>
