.lo--footer {
  display:flex;
  justify-content: space-evenly;
    align-items: center;
    background-color: #0C0B1D;
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.lo--footer-content {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lo--footer-icon {
  color: white;
  font-size: 12px;
}

.lo--footer-text {
  font-size: 12px;
  color: white;

  a {
    color: white;
  }
}

