.hf-index {
  height: 100px;
  border-radius: 10px;
  border-color: red;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;

}


.hf-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}




