.hf-index {
  background: transparent;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 90%;
  margin: 24px auto;
  border-radius: 77px;
  padding: 24px 16px;
  &:first-child {
    margin-top: 40px;
  }

}


.hf-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}




