


.main-div-hf{

}

.card-photo {
  background-color: black;
  justify-content: center;
  display: flex; /* put the text in the middle of the div (based on the height) */     
  align-items: center;
}

.card-photo img {
  height: 600px; /*This solution is the best -- I checked with Martin */
  /*We have to get the image centered */ 
}

.card-fact {
  height: 120px;
  background: black;
  color: white;
  justify-content: center;
  display: flex; /* put the text in the middle of the div (based on the height) */     
  align-items: center;
  
}

.card-fact p {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}



.page-bottom {
  background-color: black; 
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.page-mylink {
 background-color: black;
  color: white;
  font-weight: bold;
}

.page-mylink:hover {
  text-decoration: none;
  color: grey;

}




