


.main-div-hf{
  min-height: calc(100vh - 60px - 70px);
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.card-photo {
  background-color: transparent;
  justify-content: center;
  display: flex; /* put the text in the middle of the div (based on the height) */
  align-items: center;
}

.card-photo img {
  max-width: 90%;
  margin: auto;
  object-fit:cover;

  // height: 600px; /*This solution is the best -- I checked with Martin */
  /*We have to get the image centered */
}

.card-fact {
  // height: 120px;
  background: transparent;
  color: white;
  justify-content: center;
  display: flex; /* put the text in the middle of the div (based on the height) */
  align-items: center;


   p {
  font-family: arial;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 24px 24px;
  text-align: center;

}


}



.page-bottom {
  background-color: transparent;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.page-mylink {
  color: white;
  font-weight: bold;
}

.page-mylink:hover {
  text-decoration: none;
  color: grey;

}


.btn-and-share {
  text-align: center;
  padding-bottom: 20px;

}



