<h1>HorribleFacts#index</h1>
<p>Find me in app/views/horrible_facts/index.html.erb</p>

<% @horrible_facts.each do |hf| %>
<ul>
  <li>
        <%= link_to "#{hf.fact}", horrible_fact_path(hf.id), class:"btn-flat4" %>
  </li>
</ul>
<% end %>
